{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <style>
            @font-face {
                font-family: Roboto;
                src: url("{% static 'assets/fonts/Roboto-Regular.ttf' %}") format(truetype);
            }
            @font-face {
                font-family: Concert One;
                src: url("{% static 'assets/fonts/ConcertOne-Regular.ttf' %}") format(truetype);
            }
        </style>
        {% block style %}
        {% endblock %}
        {% block script %}
        {% endblock %}
        <script>
            var like = 0
            function liked(){
                btLike = document.getElementById('btLike')
                if (like == 0){
                    btLike = document.getElementById('btLike').querySelector('svg').style.fill='red';
                    btLike = document.getElementById('btLike').querySelector('svg').style.stroke='red';
                    like = 1;
                }
                else{
                    btLike = document.getElementById('btLike').querySelector('svg').style.fill='#fff';
                    btLike = document.getElementById('btLike').querySelector('svg').style.stroke='#000';
                    like = 0
                }
            }
        </script>
    </head>
	<body>
        {% include "partials/_nav.html" %}
        {% include "partials/_alerts.html" %}

        {% block content %} 
        {% endblock %}

        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

        {% include 'partials/_modal.html' %}
        {% include "partials/_footer.html" %}
        {% include "partials/_register.html" %}
        {% include "partials/_login.html" %}

	</body>
</html>